
<div class = "nested-fields">
  <div class="s-w-wrap">
    <%= f.label "Similar Words", id: "similar-label" %>
    <%= f.text_field :similar_word, class: "similar-field" %>
    <%= link_to_remove_association "Delete", f %> 
  </div> 
</div>
