<div class="form-wrap" id = "small-page" >
  <h1 class = "name1">Edit</h1>
  
  <div class ="in-form">
    <%= render 'form' %>

  </div>
  <div class = "btn"><%= link_to "Go to List", questions_path %></div>
</div>
</div>