<div class="form-wrap" id= "small-page">
  <div id="update">
    <%= render partial: "update", locals: { list: @list, quiz: @quiz, right_question: @right_question, choices: @choices } %>
  </div>
</div>