.home-wrap{
  text-align: center;
  width: 50%;
  height: 31.25rem;
  background-color: white;
  margin: 0 auto;
  -webkit-box-shadow: 10px 0px 18px 0px rgba(46,46,46,0.27);
  -moz-box-shadow: 10px 0px 18px 0px rgba(46,46,46,0.27);
  box-shadow: 10px 0px 18px 0px rgba(46,46,46,0.27);
  h1{
    padding: 6.25rem;
    margin:0 auto;
    font-size: 60px;
    line-height: 80px;
  }

  a{
    cursor: pointer;
    padding: .9375rem;
    line-height: 3.125rem;
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 20px;
    background-color:rgb(68, 151, 224);
    color: white;
    &:hover{
       background-color: rgb(90, 188, 230);
    }
  }
}