.home-wrap{
  text-align: center;
  width: 50%;
  height: 31.25rem;
  background-color: white;
  border-radius: 20px;
  margin: 0 auto;
  h1{
    padding: 7.5rem;
    margin:0 auto;
    font-size: 60px;
  }
  a{
    cursor: pointer;
    padding: .625rem;
    line-height: 3.125rem;
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 10px;
    background-color:rgb(68, 151, 224);
    color: white;
    &:hover{
       background-color: rgb(90, 188, 230);
    }
  }
}